<a href="https://colab.research.google.com/github/priyankkumar218/MISC/blob/master/ML13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Sentiment Analysis

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import nltk
import re
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer

In [ ]:
nltk.download('stopwords') # For 1st time use only

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
ps = PorterStemmer()

In [ ]:
dataset = pd.read_csv('https://raw.githubusercontent.com/iamrahul29/Weekend-Batch-Coding-Examples/master/Restaurant_Reviews.tsv', sep='\t')

In [ ]:
dataset.head()

                                              Review  Liked
0                           Wow... Loved this place.      1
1                                 Crust is not good.      0
2          Not tasty and the texture was just nasty.      0
3  Stopped by during the late May bank holiday of...      1
4  The selection on the menu was great and so wer...      1

In [ ]:
clean_review=[]

In [ ]:
for i in range(1000):
  text = re.sub('[^a-zA-Z]', ' ', dataset['Review'][i])
  text = text.lower()
  text = text.split() # str to list
  text = [ps.stem(word) for word in text if not word in set(stopwords.words('english'))]
  text = ' '.join(text) # list to str
  clean_review.append(text)

Now we need to create the Bag of Words Model

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
cv = CountVectorizer(max_features = 800)

In [ ]:
X = cv.fit_transform(clean_review)

In [ ]:
X = X.toarray()

In [ ]:
pd.DataFrame(X).head(10)

   0    1    2    3    4    5    6    ...  793  794  795  796  797  798  799
0    0    0    0    0    0    0    0  ...    0    0    0    0    0    0    0
1    0    0    0    0    0    0    0  ...    0    0    0    0    0    0    0
2    0    0    0    0    0    0    0  ...    0    0    0    0    0    0    0
3    0    0    0    0    0    0    0  ...    0    0    0    0    0    0    0
4    0    0    0    0    0    0    0  ...    0    0    0    0    0    0    0
5    0    0    0    0    0    0    0  ...    0    0    0    0    0    0    0
6    0    0    0    0    0    0    0  ...    0    0    0    0    0    0    0
7    0    0    0    0    0    0    0  ...    0    0    0    0    0    0    0
8    0    0    0    0    0    0    0  ...    0    0    0    0    0    0    0
9    0    0    0    0    0    0    0  ...    0    0    0    0    0    0    0

[10 rows x 800 columns]

In [ ]:
y = dataset['Liked'].values

In [ ]:
from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression()

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()

In [ ]:
from sklearn.svm import SVC
svm = SVC()

In [ ]:
from sklearn.naive_bayes import GaussianNB
nb = GaussianNB()

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dtf = DecisionTreeClassifier()

In [ ]:
log_reg.fit(X, y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
knn.fit(X, y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [ ]:
svm.fit(X, y)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
nb.fit(X, y)

GaussianNB(priors=None, var_smoothing=1e-09)

In [ ]:
dtf.fit(X, y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
log_reg.score(X, y)

0.935

In [ ]:
knn.score(X, y)

0.777

In [ ]:
svm.score(X, y)

0.949

In [ ]:
nb.score(X, y)

0.833

In [ ]:
dtf.score(X, y)

0.994

The top 2 Algos here are: SVM and DT
and After increasing the max_features to 800 the algorithms performs slightly better on whole training set.

###Train Test Split Evaluation

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [ ]:
log_reg.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [ ]:
svm.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
nb.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [ ]:
dtf.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
log_reg.score(X_test, y_test)

0.744

In [ ]:
knn.score(X_test, y_test)

0.684

In [ ]:
svm.score(X_test, y_test)

0.768

In [ ]:
nb.score(X_test, y_test)

0.632

In [ ]:
dtf.score(X_test, y_test)

0.684

SVM and LR Algo are top 2 here.

In [ ]:
y_pred_svm = svm.predict(X_test)

In [ ]:
pd.DataFrame(y_pred_svm).head(10)

   0
0  0
1  1
2  0
3  0
4  0
5  1
6  0
7  1
8  0
9  1

In [ ]:
pd.DataFrame(y).head(10)

   0
0  1
1  0
2  0
3  1
4  1
5  0
6  0
7  0
8  1
9  1

In [ ]:
from sklearn.metrics import confusion_matrix

In [ ]:
cm_svm = confusion_matrix(y_test, y_pred_svm)

In [ ]:
pd.DataFrame(cm_svm)

     0   1
0  119  19
1   39  73